.header {
   background: var(--gray-800);
   display: flex;
   justify-content: center;

   gap: 0.75rem;
   padding: 4.8rem 0; /*
   1rem = 16px
   0.25rem = 4px
   */
}

.header img {
   width: 1.375rem;
}

.header h1 {
   font-weight: 900;
   font-size: 2.5rem;
}

.header h1 .color1 {
   color: var(--blue-400);
}

.header h1 .color2 {
   color: var(--purple-500);
}