.taskInput {
   width: 100%;
}

.taskForm {
   width: 100%;
   height: 3.375rem;
   position: relative;
   bottom: 1.8rem;
   
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem
}

.taskForm textarea {
   width: calc(100% - 0.5rem - 5.625rem);
   height: 100%;
   background: var(--gray-500);
   border: 1px solid var(--gray-800);
   resize: none;
   padding: 1rem;
   border-radius: 8px;
}

.taskForm button[type='submit'] {
   height: 100%;
   width: 5.625rem;
   border: 0;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;

   background: var(--blue-600);
   border-radius: 8px;

   color: var(--gray-100);
   font-size: 0.875rem;
   font-weight: bold;

}